@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

body {
  background: #252a34;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Code", monospace;
  /* font-family: "Satisfy", monospace; */
}
.log-boolean,
.log-undefined {
  color: #ff2e63;
  font-family: "Satisfy", monospace;
}

.log-string {
  color: #dfd3c3;
}
.log-object {
  color: #ffabe1;
}
.log-number {
  color: #08d9d6;
}

h1 {
  color: #ff2e63;
}
